
            <div class="project no-padding">
                <div class="pro_desc">
                    <p>hhh</p>
                </div>
                <div class="mask">
                    <div class="btn_area">
                        <span name="2017_06_a.html" class="edit_html">编辑</span>
                        <span name="2017_06_a.pdf" class="view_pdf">查看</span>
                    </div>
                </div>
            </div>
        
            <div class="project ">
                <div class="pro_desc">
                    <p>点击编辑标题</p>
                </div>
                <div class="mask">
                    <div class="btn_area">
                        <span name="qq.html" class="edit_html">编辑</span>
                        <span name="qq.pdf" class="view_pdf">查看</span>
                    </div>
                </div>
            </div>
        
            <div class="project ">
                <div class="pro_desc">
                    <p>点击编辑标题</p>
                </div>
                <div class="mask">
                    <div class="btn_area">
                        <span name="ss.html" class="edit_html">编辑</span>
                        <span name="ss.pdf" class="view_pdf">查看</span>
                    </div>
                </div>
            </div>
        
        <div class="project add_new_project">
            <div class="pro_desc">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
         </div>
    