doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title='Project Info Record'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css')
  body
    block content
